<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Diabetic Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <h1>List of recorded blood glucose readings</h1>
    <a th:href="@{/glycemie/new}" class="btn btn-primary btn-sm mb-3">Add Glycemie</a>
    <table style="width: 80%" border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Id</th>
            <th>Value</th>
            <th>Level</th>
            <th>Unit</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="glycemie : ${listGlycemies}">
            <td th:text="${glycemie.id}"></td>
            <td th:text="${glycemie.value}"></td>
            <td th:text="${glycemie.level}"></td>
            <td th:text="${glycemie.unit}"></td>
            <td th:text="${glycemie.date}"></td>
            <td>
                <a th:href="@{/glycemie/delete/{id}(id=${glycemie.id})}" class="btn btn-danger"
                   onclick="return confirm('Are you sure you want to delete this glycemie?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
